.co-footer-nav, .co-footer-nav a {
    display: flex;
}

.co-footer-nav {
    position: fixed;
    z-index: 100;
    bottom: 0;
    max-width: 640px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 14px 0 rgba(52, 162, 255, .14);
}

.co-footer-nav a.current {
    color: #fec605;
}

.co-footer-nav a {
    flex: 1;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #bbb;
}

.co-footer-nav-placeholder {
    height: 50px;
}

.co-footer-nav a .icon {
    width: 20px;
    height: 20px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAh1BMVEUAAADY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NgY4fWIAAAALHRSTlMA8wL5r00G7uEcFxR8VTst58vDuLOgm4uFcmVfNiEPCum7op+UhEco3tGnaZzcZUsAAAEmSURBVDjLjdTZkoIwEIXhhgRUcBdQEdwdZznv/3xjYZtggiTfZftXAZW0ZArLhRCLMiSHeIWGjPu7UIL9hr1dAeXaF27QMn4MqlxeR3a3xZs/igMAS6vbwTCp8RCYXQRL2RVOBWwd4SyAV1gf4RUmQ3iF+x94hYcleohYHVyGXjLkLodD8SzXcLrxAbtt+eDcvmjhFy4Jnijw6wZ08QsLPmWXYUqU5MKViUv63OX7tP02tyjaDKBV99aOz9X4tG+u00k/ldrU3n8f+EKpV5fUNgbbWSs57t5Ate0jfXhKe5wSS80Je33mVG0vD470bsXzM7EzD7JPf08TakzsbzF+wDohSvStj4ywhjafQxuRIfh0vUyr7jCzwkp0dWJGlpm0nh5I3f0DQIqlqXWotU4AAAAASUVORK5CYII=) no-repeat 50%/contain;
    margin: .2em 0;
}

.co-footer-nav a .icon-index {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAh1BMVEUAAADY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NgY4fWIAAAALHRSTlMA8wL5r00G7uEcFxR8VTst58vDuLOgm4uFcmVfNiEPCum7op+UhEco3tGnaZzcZUsAAAEmSURBVDjLjdTZkoIwEIXhhgRUcBdQEdwdZznv/3xjYZtggiTfZftXAZW0ZArLhRCLMiSHeIWGjPu7UIL9hr1dAeXaF27QMn4MqlxeR3a3xZs/igMAS6vbwTCp8RCYXQRL2RVOBWwd4SyAV1gf4RUmQ3iF+x94hYcleohYHVyGXjLkLodD8SzXcLrxAbtt+eDcvmjhFy4Jnijw6wZ08QsLPmWXYUqU5MKViUv63OX7tP02tyjaDKBV99aOz9X4tG+u00k/ldrU3n8f+EKpV5fUNgbbWSs57t5Ate0jfXhKe5wSS80Je33mVG0vD470bsXzM7EzD7JPf08TakzsbzF+wDohSvStj4ywhjafQxuRIfh0vUyr7jCzwkp0dWJGlpm0nh5I3f0DQIqlqXWotU4AAAAASUVORK5CYII=);
}

.co-footer-nav a.current .icon-index {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAilBMVEUAAAD/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhy1Z0YAAAAALXRSTlMA+QSw9PLhoe4rHBcUCZxVPOfNu7aLhX5lX05LMyEP6cathHdwR9TCp5aSaTpsPUGVAAABKElEQVQ4y43U25KCMBBF0W4iIhdBERUZUEed+5z//z0pMAQShazHrq0UdIB0Tp4yp7lDE5wMDeFMdAIP3+NhjM7vWLdDz74elJ74CczuhoE/clwAX0Z3gCapUHP17o2h4Ry1mdatGKYnoT+DVVid2CoM54BNePyEVbg8YwQ7vQWPepelhwlx220x6UK1Kyzc6sXBygelsHIm2GFyYWVBHsNGXG/ZppxHROH0f3Ictav2V1AWl6LYLaD8+0vqrCFtjs1x2qirUp/oxo9fL+fdkRiEezk+GK/klZTeIgM5CdTyWto4kpNIm0jyNldyIB/EiYbkXXqknebs1ecpoUaiPlVDCaRtSBSqU19oYQVlvYYSkMZ9dbx0GZ4SRlgyw8QlGXxhXN0VPkl3W0Sn6OdcdiEAAAAASUVORK5CYII=);
}

.co-footer-nav a .icon-purchased {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAoCAMAAACsAtiWAAAAeFBMVEUAAADY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NjY2NiIHDDyAAAAJ3RSTlMAUB/tDy8CxVr639k6Ggv0s3DVvqCRgCkkFAXp5LibiHVkzbBqPzLkAydBAAAA8klEQVQ4y9XUx5LDIBBF0ZawBZJAOTp70vv/PxyVzag8iLD2XbE41V0sgP4lL01Z5pdvcqUq6NrYLqYT1tjeJoocABfjKDiAbGchA4AheRxrAP1WHBjQka4HysIUiQBQR7o7AGGMuJ2w6Xh9GbTjsNaodckZjtpEkwjOIk0qN6k0YW7CnptmeJofRPnI9Lyyj+zfkUw+IhcwNvB2VsQRqCWESsMEfySXsZHMDHKlTb1B2D166YdIfrGV2OqIPgEv+UgOWYAg10KTUHQMCUYi9YtUEKnaJ4aYlpLSQ/RP1IVf45y7RBaTrqg5S2GUMn4raOkX8raTJJ5XQlMAAAAASUVORK5CYII=);
}

.co-footer-nav a.current .icon-purchased {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAoCAMAAACsAtiWAAAAe1BMVEUAAAD/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhz/xhy5yNYiAAAAKHRSTlMAUB8P7cVaMPrf2Toa9OmzKgvVvqCRgHAUBQLkuJuIdWpkI82wPzIl+n7AbgAAAPBJREFUOMvV1MluwyAUheFrB6htPM9x5nQ67/+ErQq1Esywzr9i8QmEEJeekqe2KLLTJ7nKK+i62C7uB6yVtU00GQAu6lpwAOnOQkYAo1pOAIat2DOgJ90AFI0pFgHgGuluAISxxeWATeX5YaMdh7U2X8kRjrpFiwjOIk0qN6k0YW7ClJjhaVav5yN3dWUfeXtF8u0j8hfULbwdc+II1BFCJWGCf5LJ2EimBjnTpsEg7BY99EUkr2wltnqiD8BL3pd9GiDIUhjEG5UhwUgkfpEIonzyiVHNq8JD9CTqw79xzlwijUnXTLxMYJQwfvk75gfmZZbM8RzSCQAAAABJRU5ErkJggg==);
}

.co-footer-nav a .item-name {
    transform: scale(.9);
    transform-origin: 50% 50%;
}

.co-footer-nav-placeholder {
    height: 50px;
}