body {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  font-family: PingFang SC,Microsoft YaHei,webfont,tahoma;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

[class|=iconf] {
  font-family: iconfont;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
}

.iconf-search:before {
  content: "\E02D";
}